<!DOCTYPE html>
<html lang="en">
<head>
	<title>VoterKarma Dashboard</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>

<!--in body navbar-->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>				
      <a class="navbar-brand" href="#">VoterKarma</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="dashboard.html">MyScore</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="#">Improve My Score</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span></a></li>
      </ul>
    </div>
  </div>
</nav>
<div style="height:50px;"></div>

<!-- start of about div -->
<div class="container" style="text-align:left">
<h1>About Your Score</h1>
<br>
<h4>Your score is based on your voting record data.</h4> <br>
</div>
<!-- start div with 3 columns-->
<div class="row">
	<div class="col-sm-1">
	</div>
	<div class="col-sm-2">
		<img src="Voting.png" class="img-responsive" alt="voting">
		<h4>Your voter history is compiled</h4>
	</div>
	<div class="col-sm-2">
	</div>
	<div class="col-sm-2">
		<img src="Scores.png" class="img-responsive" alt="scores">
		<h4>We analyze your election voting history</h4>
	</div>
	<div class="col-sm-2">
	</div>
	<div class="col-sm-2">
		<img src="Score.png" class="img-responsive" alt="score">
		<h4>Your overall VoterKarma score is created</h4>
	</div>
	<div class="col-sm-1">
	</div>
</div>
<!-- end of about div -->

<hr>

<!-- footer start -->
<footer class="container-fluid bg-4 text-center">
  <p>Website created by members of the VoterKarma Team</p>
  <p>Thank you Debug Politics for organizing the event!</p>
</footer>
<!-- footer end -->